@import 'nav.css';
@import 'footer.css';

.small-container{    
  max-width: 950px;
  padding-top: 5%; 
  padding-left: 10%;
  padding-bottom: 5%; 
  padding-right: 10%;
  text-align: center;
}

.cart-page{
  margin: 80px auto;
}

table{
  width: 100%；
  collapse border;
}

.cart-info{
  display: flex;
  flex-wrap: wrap; 
}

/**.cart-info p{
  display: none;
}**/

th{
  text-align: left;
  padding: 7px;
  color: #fff;
  background: #1a1918;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #1a1918;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: 3px solid #1a1918;
  width: 100%;
  max-width: 750px;
}

.total-price td{
  text-align: right;
}

td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

.submitbtn{
  width: 100px;
  align-items: right;
  float: right;
  padding: right;
}
