@import 'nav.css';
@import 'footer.css';

.hero {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #D6D6D6 26.53%, #FFFFFF 67.93%);
}

.hero-info {
    position: relative;
    width: 50%;
    margin-left: 5vw;
}

.hero-title {font-size: 50px;}

.hero-description {
    width: 75%;
    margin: 10px 0;
}

.hero-btn {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.hero-image {
    width: 50%;
    margin-right: 5vw;
}

.hero-image img {
    width: 100%;
    object-fit: contain;
}

/* Featured Products */

.featured {
    position: relative;
    padding: 20px 0;
    background: linear-gradient(180deg, #F6DDDD 50.52%, rgba(176, 176, 176, 0.24) 100%);
    overflow: hidden;
}

.featured-title {
    margin-bottom: 50px;
    padding: 0 5vw;
    font-weight: bold;
    text-align: center;
}

.pre-btn, .nxt-btn {
    display: flex;
    position: absolute;
    top: 0;
    width: 5vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 8;
}

.pre-btn {left: 0;}

.nxt-btn {
    right: 0;
    transform: rotate(180deg);
}

.pre-btn img, .nxt-btn img {
    width: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.pre-btn img:hover, .nxt-btn img:hover {opacity: 1;}

.product-container {
    display: flex;
    padding: 0 5vw;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {display: none;}

.product-card {
    width: 300px;
    height: 450px;
    margin-right: 40px;
    flex: 0 0 auto;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 90%;
    padding: 10px;
	text-align: center;
    background-color: #fff;
    border: 1px solid #383838;
    border-radius: 5px;
	color: #383838;
    cursor: pointer;
    opacity: 0;
    outline: none;
	text-decoration: none;
    transform: translateX(-50%);
    transition: 0.5s;
}

.product-card:hover .card-btn{opacity: 1;}

.card-btn:hover {background-color: #efefef;}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-name {
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.product-price {
    font-size: 15px;
    font-weight: lighter;
}

/* Products div */

.products-div {
    position: relative;
    width: 100%;
    height: fit-content;
}

.products-div-img {
    width: 100%;
    height: inherit;
}

.products-div-img img {
    display: block;
    width: 100%;
}

.products-div-content {
    position: absolute;
    top: 25%;
    width: 50%;
    margin-left: 5vw;
}

.products-div-content h1 {
    color: #fff;
    font-size: 45px;
    text-transform: capitalize;
}

.products-div-content a {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #383838;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
    .hero {
        flex-wrap: wrap;
    }

    .products-div-content h1 {
        font-size: 30px;
    }

    .products-div-content a {
        font-size: 16px;
    }
}